@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #1c0149;
    background-image: url(https://media.giphy.com/media/1iW2g0lzwdRqNu3m/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: #FEFAE0;
 */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color:#FFE5D9;
    border-radius: 20px;
    width: 600px;
    margin: 100px auto;
    justify-content: space-evenly;
    padding: 20px;
    /*box-shadow: 10px 10px 10px 0px #FCD5CE;*/
    border:5px solid rgba(174, 168, 168, 0.082);    
    

}

.card:hover {
    background-color:#FCD5CE;
    cursor: pointer;
    color: #6b4741;
    width: 620px;
    
}

img {
    width: 300px;
    border-radius: 20px;
    border: 5px solid #a1a6ac3b;
    background-color: #E8E8E4;
}

img:hover {
    background-color: #e8e8e4c0;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    /* border: 5px solid #a1a6ac3b;
 */
}

